<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.dao.mapper.PaymentMapper">

    <select id="selectPaymentByOrderId" resultType="com.exam.module.entity.Payment">
        select * from payment
        where order_id = #{orderId}
        limit 1
    </select>

    <insert id="addPayment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(
        order_id,
        amount
        )values(
        #{orderId},
        #{amount}
        )

    </insert>
    <update id="updateStatusByPaymentId">
        update payment set status = #{status} where id = #{paymentId}
    </update>
</mapper>
